.container{
	background: url(../images/bg_1.jpg);
	margin-top: -19px;
}

.jumbotron {
	border: 2px dashed black;
	background-color: #fff;
}

.table-bordered {
	border: 3px dashed #C19797;
}

.task-description{

	background-color: #fff;
	padding: 20px;
	border-radius: 6px;
	box-shadow: 0px 0px 3px 1px;
}